<p>{{screenTitle}}</p>
<div class="animated fadeIn">
    <p-panel #pnl>
        <p-header>
            <div class="ui-g-6">
                <button appPermission appFunction="CONTENT_KNOWLEDGEBASE" appAction="CREATE" pButton type="button"
                    label="Thêm" icon="fa fa-plus" (click)="showAddModal()"></button>
                <button appPermission appFunction="CONTENT_KNOWLEDGEBASE" appAction="DELETE" pButton type="button"
                    label="Xóa" icon="fa fa-trash" class="ui-button-danger" *ngIf="selectedItems.length > 0"
                    (click)="deleteItems()"></button>
                <button appPermission appFunction="CONTENT_KNOWLEDGEBASE" appAction="UPDATE" pButton type="button"
                    label="Sửa" icon="fa fa-edit" class="ui-button-warning" *ngIf="selectedItems.length== 1"
                    (click)="showEditModal()"></button>

                <button appPermission appFunction="CONTENT_COMMENT" appAction="VIEW" pButton type="button"
                    label="Bình luận" icon="fa fa-eye" class="ui-button-primary" *ngIf="selectedItems.length== 1"
                    (click)="viewComments()"></button>

                <button appPermission appFunction="CONTENT_REPORT" appAction="VIEW" pButton type="button"
                    label="Báo xấu" icon="fa fa-magic" class="ui-button-primary" *ngIf="selectedItems.length== 1"
                    (click)="viewReports()"></button>
            </div>
            <div class="ui-g-6">
                <input style="width: 100%;" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
                    placeholder="Nhập từ khóa..." type="text">
            </div>
        </p-header>

        <p-table #dt [value]="items" selectionMode="multiple" [(selection)]="selectedItems" [metaKeySelection]="true"
            [responsive]="true" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 35px">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th [pSortableColumn]="'id'">Mã
                        <p-sortIcon [field]="'id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'title'">Tiêu đề
                        <p-sortIcon [field]="'title'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'categoryName'">Danh mục
                        <p-sortIcon [field]="'categoryName'"></p-sortIcon>
                    </th>

                    <th [pSortableColumn]="'numberOfComments'">Bình luận
                        <p-sortIcon [field]="'numberOfComments'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'numberOfVotes'">Thích
                        <p-sortIcon [field]="'numberOfVotes'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'numberOfReports'">Báo cáo
                        <p-sortIcon [field]="'numberOfReports'"></p-sortIcon>
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pSelectableRow]="row">
                    <td style="width: 35px;">
                        <span class="ui-column-title">Lựa chọn</span>
                        <p-tableCheckbox [value]="row"></p-tableCheckbox>
                    </td>
                    <td>{{row.id}}</td>
                    <td>{{row.title}}</td>
                    <td>{{row.categoryName}}</td>
                    <td>{{row.numberOfComments}}</td>
                    <td>{{row.numberOfVotes}}</td>
                    <td>{{row.numberOfReports}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div style="text-align: left">
                    Tổng số bản ghi: {{totalRecords | number}}
                </div>
            </ng-template>
        </p-table>
        <p-footer>
            <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"
                [rowsPerPageOptions]="[10,20,50,100]"></p-paginator>
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
                    strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
            </p-blockUI>
        </p-footer>
    </p-panel>
</div>