<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">Bạn muốn tìm câu hỏi?</h3>
        <p class="search-tag-line">Nếu bạn muốn tìm kiếm gì hãy gõ từ khóa dưới đây!</p>

        <form id="search-form" class="search-form clearfix" method="get" action="/search" autocomplete="off">
            <input class="search-term required" type="text" id="txt_keyword" name="keyword"
                   placeholder="Nhập từ khóa" title="* Vui lòng nhập từ khóa" />
            <input class="search-btn" type="submit" value="Tìm" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>