@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @RenderSection("scripts", required: false)
}
<div class="container">
    <div class="row">
        @RenderBody()
        <!-- start of sidebar -->
        @await Component.InvokeAsync("SideBar")
        <!-- end of sidebar -->
    </div>
</div>