<div class="modal-header">
    <h4 class="modal-title pull-left">Chi tiết bình luận</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="form-horizontal form-label-left" novalidate *ngIf="report">
    <div class="modal-body div-scroll">
        <p-panel #pnl header="Thông tin" [toggleable]="true" [collapsed]="false" styleClass="m-b-10">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Nội dung:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <span>{{report.content}}</span>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Ngày tạo:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <span>{{report.createDate}}</span>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Người tạo:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <span>{{report.reportUserName}}</span>
                    </div>
                </div>
            </div>
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
                    strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
            </p-blockUI>
        </p-panel>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Đóng</button>
    </div>
</form>