<!--Modal add and edit-->
<div class="modal-header">
    <h4 class="modal-title pull-left">{{dialogTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="form-horizontal form-label-left" novalidate [formGroup]="entityForm" (ngSubmit)="saveChange()">
    <div class="modal-body div-scroll">
        <p-panel #pnl header="Thông tin" [toggleable]="true" [collapsed]="false" styleClass="m-b-10">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Mã duy nhất:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" pInputText formControlName="id">
                    </div>
                    <div class="ui-grid-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="id"
                            [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span>Chọn cấp cha:</span>
                    </div>
                    <div class="ui-grid-col-6">

                        <p-dropdown [options]="rootFunctions" emptyFilterMessage="Không có dữ liệu"
                            [style]="{'width':'100%'}" formControlName="parentId" placeholder="Chọn cấp cha"
                            filter="true" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div class="ui-grid-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="parentId"
                            [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Tên:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" pInputText [pKeyFilter]="noSpecial" formControlName="name">
                    </div>
                    <div class="ui-grid-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="name"
                            [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>


                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Url:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" pInputText [pKeyFilter]="noSpecial" formControlName="url">
                    </div>
                    <div class="ui-grid-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="url"
                            [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Icon Class:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" pInputText [pKeyFilter]="noSpecial" formControlName="icon">
                    </div>
                    <div class="ui-grid-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="icon"
                            [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <span class="required">Thứ tự:</span>
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="number" pInputText pKeyFilter="int" formControlName="sortOrder">
                    </div>
                    <div class="ui-grid-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="sortOrder"
                            [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>

            </div>
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
                    strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
            </p-blockUI>
        </p-panel>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!entityForm.valid || btnDisabled">Lưu lại</button>
        &nbsp;
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Đóng</button>
    </div>
</form>